<template >
    <div id="app">
        <div class="loginForm">
            <h2>Login</h2>
            <div class="dataBlock">
            <h4>Username:</h4>
            <input type="text" placeholder="username" v-model="username"></input>
            </div>
            <div class="dataBlock">
            <h4>Password :</h4>
            <input type="password" placeholder="password" v-model="password"></input>
            </div>
            <button class="loginButton" v-on:click="login">Login</button>
        </div>
    </div>
</template>


<script>
import router from '../router'
import isLoggedIn from '../store/store'

export default {
  name: 'app',
  data () {
    return {
      username:"",
      password:"",
      isLoggedIn: false
    }
  },
  methods:{
      login:function (){
          console.log("Login started!");
           this.$http.post('http://localhost:8081/user/login',{
              username:this.username,
              password:this.password
          }).then(function(data){
              console.log(data.status);
              if(data.status == 200){
                  var token = data.body.token;
                  this.loginSuccess(token)
              }
              console.log("Token taken!");
          });
      },

      loginSuccess: function(token){
          console.log("Token "+token);
          this.isLoggedIn = true;
          router.push('/mainPage')
      }
  }
}

</script>

<style>
.loginForm{
    border:solid lightcoral;
    border-radius: 5%;
    width:25%;
    height:200px;
    margin:0 auto;
}
.loginButton{
  position: relative;
  left:44%;
  margin-top:3%;
}
h2{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: relative;
    left:40%;
    margin-top:3%;
}
h4{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position:relative;
    top:-60%;
    padding-right: 5%;
}
.dataBlock{
    width:auto;
    display:flex;
    height:30px;
    
}

</style>