<template>
    <div id="app">
        <h1>Hello World!</h1>
    </div>
</template>


<script>

export default {
  name: 'app',
  data () {
    return {

    }
  },
  methods:{
      
  }
}

</script>

<style>

</style>