<template>
  <div id="app">
  <login-page v-if="!isLogged"></login-page>
  <router-view />
  </div>
</template>

<script>
import Login from './components/Login.vue'
import isLoggedIn from './store/store'


export default {
  name: 'app',
  components:{
    'login-page':Login
  },
  data () {
    return { 
      msg: 'Welcome to Your Vue.js App'
    }
  },
  computed:{
    isLogged(){
      return isLoggedIn
    }
  }
  
}
</script>

<style>

</style>
